<!DOCTYPE html>
<html style="height: 740px;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tutoria origin</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="assets/fonts/typicons.min.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/Table-With-Search.css">
    <link rel="stylesheet" href="assets/css/Team-Boxed.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-primary" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" id="tit_pag" href="#page-top">Tutorias</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="index.html">iNICIO</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="">OBJETIVOS</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="">Contacto</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="">Ingresa</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="login-clean" style="background-image: url(&quot;assets/img/entrada-tec.png&quot;);background-size: 100% 100%;background-repeat: no-repeat;height: 900px;">
        <form method="post" style="margin-top: 120px;">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-contact-outline" style="color: rgb(238,75,40);"></i></div>
            <div class="form-group"><input class="form-control" type="email" name="numcont" placeholder="Num Control"></div>
            <div class="form-group"><input class="form-control" type="password" name="pass" placeholder="Contraseña"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color: rgb(238,75,40);">ACCEDER</button></div><a class="forgot" href="#">Olvidaste tu contraseña?</a></form>
    </div>
    <footer style="margin-top: 164px;">
        <p class="text-center" id="text_foot" style="margin: -110px 0px;"><em>Sistema creado por alumnos de Ingenieria en Sistemas Computacionales.</em><br></p>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/creative.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="assets/js/Table-With-Search.js"></script>
</body>

</html>