.contact-clean {
    background: #f1f7fc;
    padding: 80px 0;
}

@media (max-width: 767px) {
    .contact-clean {
        padding: 20px 0;
    }
}

.contact-clean form {
    max-width: 480px;
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 4px;
    color: #505e6c;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
    .contact-clean form {
        padding: 30px;
    }
}

.contact-clean h2 {
    margin-top: 5px;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 36px;
    color: inherit;
}

.contact-clean .form-group:last-child {
    margin-bottom: 5px;
}

.contact-clean form .form-control {
    background: #fff;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
    outline: none;
    color: inherit;
    padding-left: 12px;
    height: 42px;
}

.contact-clean form .form-control:focus {
    border: 1px solid #b2b2b2;
}

.contact-clean form textarea.form-control {
    min-height: 100px;
    max-height: 260px;
    padding-top: 10px;
    resize: vertical;
}

.contact-clean form .btn {
    padding: 16px 32px;
    border: none;
    background: none;
    box-shadow: none;
    text-shadow: none;
    opacity: 0.9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1;
    outline: none !important;
}

.contact-clean form .btn:hover {
    opacity: 1;
}

.contact-clean form .btn:active {
    transform: translateY(1px);
}

.contact-clean form .btn-primary {
    background-color: #fc490a;
    margin-top: 15px;
    color: #fff;
}

.encabezado {
    font-size: 30px;
    color: #ff7400;
}

@media (max-width: 599px) {
    .footer {
        /*position: relative;*/
        margin-top: 300px;
    }
}

@media (max-width: 764px) {
    .footer {
        margin-top: 300px;
    }
}

@media (min-width: 1200px) {
    .footer {
        margin-top: 150px;
    }
}

@media (min-width: 768px) {
    #cont-visdat {
        /*display: table-cell;*/
        vertical-align: middle;
        text-align: center;
    }
}

.edit {
    margin-left: 50px;
}

@media (max-width: 420px) {
    .file-select {
        font-size: 12px;
    }
}

@media (max-width: 390px) {
    .table th,
    td {
        width: 30px;
    }
}

@media (max-width: 480px) {
    #div-table {
        /*padding: 0px 0px;*/
        margin-left: -35px;
        /*position: relative;*/
        /*left: 0;*/
    }
}

.contenedor-foto {
    display: flex;
    justify-content: center;
}

#img-prev {
    width: 250px;
    height: 250px;
    border-radius: 125px;
    border-style: solid;
}

@media (max-width: 1000px) {
    .btn-delete {
        margin-top: 10px;
    }
}

#div-acciones {
    display: flex;
    justify-content: center;
}

#btn-cancel {
    margin-left: 100px;
}

@media (max-width: 530px) {
    #btn-cancel {
        margin-left: 50px;
    }
}

#div-action {
    display: flex;
    justify-content: center;
}

#div-tipografia {
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
    #div-tipografia {
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    #div-tipografia {
        font-size: 10px;
    }
}

#view-cambio {
    margin-top: 30px;
}

#form-actividad {
    overflow-x: auto;
}

@media (max-width: 432px) {
    #form-file {
        font-size: 10px;
    }
}

@media (max-width: 500px) {
    #actualizar-foto {
        font-size: 10px;
    }
}

@media (max-width: 432px) {
    button,
    input {
        font-size: 10px;
    }
}

#div-img {
    display: flex;
    justify-content: center;
}

.contact-clean {
    margin-top: 100px;
}

#div-regis {
    display: flex;
    margin-top: 35px;
    justify-content: center;
}

/* #btn-regis {
    height: 60px;
    width: 300px;
} */

#img-perfil {
    height: 50px;
    width: 50px;
}

div-img-perfil {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#div-msj-action {
    display: flex;
    justify-content: center;
}

#btn-msj-cancel {
    margin-left: 40px;
}

#contenedor {
    margin-top: 100px;
    /*display: flex;*/
}

.div-img {
    display: flex;
    justify-content: center;
}


/*img,
svg {
    width: 150px;
    height: 150px;
    
}*/

#text-title {
    font-size: 60px;
    margin-top: 50px;
}

#text-description {
    margin-top: 50px;
}


/*@media (max-width: 800px) {
    img,
    svg {
        width: 250px;
        height: 250px;
    }
}*/

@media (max-width: 800px) {
    #text-title {
        font-size: 40px;
    }
}

@media (min-width: 818px) {
    .menu {
        display: flex;
        align-items: center;
    }
}

.nav-link {
    color: #ffffff !important;
}