.row {
    margin: 0 auto;
}

footer {
    width: 100%;
    height: 190px;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding: 20px;
}

@media (max-width: 800px) {
    footer {
        margin-top: 280px;
    }
}

@media (max-width: 600px) {
    footer {
        margin-top: 350px;
    }
}

@media (max-width: 400px) {
    footer {
        margin-top: 350px;
        text-align: center;
    }
}

#footerinfo {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

@media (max-width: 576px) {
    #footerinfo {
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
    }
}

#ignicionlogo {
    margin-top: -0px;
    width: 60px;
    height: 60px;
}

@media (min-width: 760px) {
    #ignicionlogo {
        margin-top: -0px;
        width: 100px;
        height: 100px;
    }
}

.icon {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer {
    padding: 0rem;
}

a:hover {
    color: #1e1e1e;
    text-decoration: underline;
}

#direction-f {
    margin-top: 28px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

@media (min-width: 860px) {
    #title-nav {
        margin-left: 100px;
    }
}

.menu {
    align-items: center;
}

@media (min-width: 808px) {
    #menu-perfil {
        left: -200px;
    }
}

#btn-cerrar-msj {
    margin-top: 10px;
}

#div-container-msj {
    padding-left: 30%;
    padding-right: 30%;
}


/*#div-container-msj {
    position: fixed;
    margin-left: 2.5%;
}*/