.register-photo {
    background: #f1f7fc;
    padding: 0px 0;
}

.register-photo .image-holder {
    display: table-cell;
    width: 150px;
    background-size: cover;
}

.register-photo .form-container {
    display: table;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.table-container {
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.register-photo form {
    display: table-cell;
    width: 400px;
    background-color: #ffffff;
    padding: 40px 60px;
    /* color: #505e6c; */
}

@media (max-width: 991px) {
    .register-photo form {
        padding: 40px;
    }
}

.register-photo form h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 0px;
}

.register-photo form .form-control {
    background: #f7f9fc;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 6px;
    height: 40px;
}

.register-photo form .form-check {
    font-size: 13px;
    line-height: 20px;
}

.register-photo form .btn-primary {
    background: rgb(245, 124, 56);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: none !important;
}

.register-photo form .btn-primary:hover,
.register-photo form .btn-primary:active {
    background: #eb3b60;
}

.register-photo form .btn-primary:active {
    transform: translateY(1px);
}

.register-photo form .already {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none;
}

/*----------  Estadistics Styles  ----------*/
.full-box{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
}
.tile-container{
	text-align: center;
	padding: 20px 25px;
}
.tile{
	height: 200px;
	width: 200px;
	margin: 10px;
	display: inline-block;
	text-decoration: none;
	color: var(--accent-color);
	border: 1px solid #f8640e;
	border-radius: 3px;
	user-select: none;
	transition: all .2s ease-in-out;
	background-color: #FFF;
}

.tile-tittle{
	margin: 0;
	width: 100%;
	padding: 0;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	text-transform: uppercase;
	border-bottom: 1px solid #f8640e;
	transition: all .2s ease-in-out;
	font-family: 'roboto_medium_regular';
}
/* .tile:hover .tile-tittle{
	color: #FFF;
	border-color: var(--color-three);
	background-color: var(--color-three);
} */
.tile-icon{
	width: 100%;
	height: 160px;
	box-sizing: border-box;
	padding-top: 22px;
}
.tile-icon > i{
	font-size: 80px;
}
.tile-icon > p{
	font-family: 'roboto_medium_regular';
	height: 35px;
	line-height: 35px;
}
/* .tile:hover .tile-icon > i,
.tile:hover .tile-icon > p{
	color: var(--color-three);
} */