
.contadores>span {
    margin-right: 20px;
}

.contadores span.error {
    color: red;
}

#table_dat td.error {
    background-color: #ff0000 !important;
    color: #fff !important;
}

.hide {
    display: none;
}

