<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tutoria origin</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="../assets/fonts/typicons.min.css">
    <link rel="stylesheet" href="../assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="../assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="../assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="../assets/css/Table-With-Search.css">
    <link rel="stylesheet" href="../assets/css/Team-Boxed.css">
</head>

<body>
    <div class="register-photo">
        <div class="container" id="contain">
            <div id="importcsvregis" class="form-container">
                <form id="regisTutcsv" method="post">
                    <h2 class="text-center"><strong>Asignación de Tutorados</strong></h2>
                    <div class="form-group"><input class="form-control" type="text" id="nameinput" placeholder="Nombre" name="name"></div>
                    <div class="form-group"><input class="form-control" type="text" placeholder="Apellidos"></div>
                    <div class="form-group"><input class="form-control" type="text" placeholder="Carrera"></div>
                    <div class="form-group"><input class="form-control" type="text" placeholder="Numero de Control"></div>
                    <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color: rgb(245,124,56);">Buscar</button></div>
                    <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color: rgb(245,124,56);">Asignar Tutorados a docentes (auto)</button></div>
                </form>
            </div>
            <div class="col-md-12 search-table-col">
                <div class="form-group pull-right col-lg-4"><input type="text" class="search form-control" placeholder="Escriba el dato de búsqueda"></div><span class="counter pull-right"></span>
                <div class="table-responsive table-bordered table table-hover table-bordered results">
                    <table class="table table-bordered table-hover">
                        <thead class="bg-primary bill-header cs">
                            <tr>
                                <th id="trs-hd" class="col-lg-1">Nombre del tutorado</th>
                                <th id="trs-hd" class="col-lg-2">Numero de Control</th>
                                <th id="trs-hd" class="col-lg-3">Carrera</th>
                                <th id="trs-hd" class="col-lg-2">Nombre del Tutor</th>
                                <th id="trs-hd" class="col-lg-2">Estado</th>
                                <th id="trs-hd" class="col-lg-2">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Francisco Santiago de la Cruz</td>
                                <td>16190437</td>
                                <td>Ingenieria en Sistemas</td>
                                <td>Maribel Castillejos Toledo</td>
                                <td><i class="fa fa-check"></i></td>
                                <td><button class="btn btn-success bg-primary" style="margin-left: 5px;" type="submit"><i class="fa fa-edit" style="font-size: 15px;"></i></button></td>
                            </tr>
                            <tr>
                                <td>Luis Alberto Robles Parada</td>
                                <td>16190359&nbsp;<br><br><br></td>
                                <td>Ingenieria en Sistemas<br></td>
                                <td>Sayonara Orozco Alvarez</td>
                                <td><i class="fa fa-check"></i></td>
                                <td><button class="btn btn-success bg-primary" style="margin-left: 5px;" type="submit"><i class="fa fa-edit" style="font-size: 15px;"></i></button></td>
                            </tr>
                            <tr>
                                <td>Juan Carlos Fernandez Piñon</td>
                                <td>16190439</td>
                                <td>Ingenieria en Sistemas<br></td>
                                <td>-<br></td>
                                <td><i class="fa fa-remove"></i></td>
                                <td><button class="btn btn-success bg-primary" style="margin-left: 5px;" type="submit"><i class="fa fa-edit" style="font-size: 15px;"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="cont-visdat" class="form-container">
            <form method="post"><img id="imgreg" src="../assets/img/alum2.jpg">
                <div class="form-group"><input class="form-control" type="text" placeholder="Nombre" name="name"></div>
                <div class="form-group"><input class="form-control" type="text" placeholder="Apellido Paterno"></div>
                <div class="form-group"><input class="form-control" type="text" placeholder="Apellido Materno"></div>
                <div class="form-group"><input class="form-control" type="tel" placeholder="Número de Telefono"></div>
                <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
                <div class="form-group"><input class="form-control" type="text" placeholder="Carrera"></div>
                <div class="form-group"><input class="form-control" type="text" placeholder="Numero de Control"></div>
                <div class="form-group"><select class="form-control"><option value="12">Seleccione Tutor a asignar</option><option value="13">Maribel Castillejos Toledo</option><option value="14">Sayonara Orozco Alvarez</option></select></div>
                <div class="form-group"><button class="btn btn-primary btn-block bg-primary" type="button">Actualizar</button><button class="btn btn-primary btn-block bg-primary" type="button">CANCELAR</button></div>
            </form>
        </div>
    </div>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-primary" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" id="tit_pag" href="#page-top">Tutorias</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item menu" role="presentation"><a class="nav-link js-scroll-trigger" href="Alumno.html">iNICIO</a></li>
                    <li class="nav-item dropdown menu"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Gestion</a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="CordCarrera/TutoresC.html">Gestión de Tutores</a><a class="dropdown-item" role="presentation" href="CordCarrera/TutoradosC.html">Gestión de Tutorados</a><a class="dropdown-item"
                                role="presentation" href="CordCarrera/ActividadesC.html">Gestión de Actividades</a></div>
                    </li>
                    <li class="nav-item dropdown menu"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">TUTOR</a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="VistaTutores/Tutorados.html">Gestión de Tutorados</a><a class="dropdown-item" role="presentation" href="VistaTutores/ActividadesT.html">Gestión de Actividades</a></div>
                    </li>
                    <li class="nav-item menu" role="presentation"><a class="nav-link js-scroll-trigger" href="">eSTADISTICAS</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" id="div-img-perfil"><img class="rounded-circle" id="img-perfil" src="../assets/img/coor-maribel.jpg"></a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item disabled" role="presentation">Maribel Castillejos Toledo</a><a class="dropdown-item" role="presentation" href="CordCarrera/edit-perfilC.html">Editar Perfil</a><a class="dropdown-item" role="presentation"
                                href="Cerrar Sesión">Cerrar Sesión</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="../assets/js/creative.js"></script>
    <script src="../assets/js/bs-animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="../assets/js/Table-With-Search.js"></script>
</body>

</html>