<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tutoria origin</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="../assets/fonts/typicons.min.css">
    <link rel="stylesheet" href="../assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="../assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="../assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="../assets/css/Table-With-Search.css">
    <link rel="stylesheet" href="../assets/css/Team-Boxed.css">
</head>

<body>
    <div class="register-photo">
        <div class="form-container">
            <form method="post">
                <h2 class="text-center"><strong>Perfil</strong></h2>
                <div class="form-group contenedor-foto"><img id="imgperf" src="../assets/img/Icons/perfil.png"></div>
                <div class="form-group"><input type="file" id="actualizar-foto"></div>
                <div class="form-group"><input class="form-control" type="text" placeholder="Nombre" name="name"></div>
                <div class="form-group"><input class="form-control" type="text" placeholder="Apellido Paterno"></div>
                <div class="form-group"><input class="form-control" type="text" placeholder="Apellido Materno"></div>
                <div class="form-group"><label>Fecha de Nacimiento</label><input class="form-control" type="date"></div>
                <div class="form-group"><select class="form-control"><option value="" selected="">Sexo</option><option value="1">Hombre</option><option value="2">Mujer</option></select></div>
                <div class="form-group"><input class="form-control" type="tel" placeholder="Número de Telefono"></div>
                <div class="form-group"><input class="form-control" type="text" placeholder="Dirección"></div>
                <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
                <div class="form-group"><input class="form-control" type="email" name="carrera" placeholder="Area"></div>
                <div class="form-group"><input class="form-control" type="text" placeholder="Matrícula"></div>
                <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Contraseña Nueva"></div>
                <div class="form-group"><input class="form-control" type="password" name="password-repeat" placeholder="Repita contraseña"></div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color: rgb(245,124,56);">Actualizar</button></div>
            </form>
        </div>
    </div>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-primary" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" id="tit_pag" href="#page-top">Tutorias</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item menu" role="presentation"><a class="nav-link js-scroll-trigger" href="Alumno.html">iNICIO</a></li>
                    <li class="nav-item dropdown menu"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Gestion</a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="CordCarrera/TutoresC.html">Gestión de Tutores</a><a class="dropdown-item" role="presentation" href="CordCarrera/TutoradosC.html">Gestión de Tutorados</a><a class="dropdown-item"
                                role="presentation" href="CordCarrera/ActividadesC.html">Gestión de Actividades</a></div>
                    </li>
                    <li class="nav-item dropdown menu"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">TUTOR</a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="VistaTutores/Tutorados.html">Gestión de Tutorados</a><a class="dropdown-item" role="presentation" href="VistaTutores/ActividadesT.html">Gestión de Actividades</a></div>
                    </li>
                    <li class="nav-item menu" role="presentation"><a class="nav-link js-scroll-trigger" href="">eSTADISTICAS</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" id="div-img-perfil"><img class="rounded-circle" id="img-perfil" src="../assets/img/coor-maribel.jpg"></a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item disabled" role="presentation">Maribel Castillejos Toledo</a><a class="dropdown-item" role="presentation" href="CordCarrera/edit-perfilC.html">Editar Perfil</a><a class="dropdown-item" role="presentation"
                                href="Cerrar Sesión">Cerrar Sesión</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="../assets/js/creative.js"></script>
    <script src="../assets/js/bs-animation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="../assets/js/Table-With-Search.js"></script>
</body>

</html>